.ratings {
  display: flex;
  gap: 4px;

  font-size: 18px;
}

.ratings .star {
  color: var(--color-primary);
}

.ratings .emptyStar {
  color: #e3e3e3;
}

/******** Desktop Version ********/
@media (width >= 1440px) {
  .ratings {
    gap: 12px;

    font-size: 24px;
  }
}
