.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--color-primary);

  margin: 20px 20px;
  margin-bottom: 0;
}

.logo {
  height: 48px;
  width: 145px;

  fill: var(--color-primary);
}

nav {
  width: 140px;

  & ul {
    display: flex;
    justify-content: space-between;
  }

  & a {
    font-weight: var(--font-medium);
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-primary);

    &:hover,
    &.active {
      text-decoration: underline;
    }
  }
}

/******** Desktop Version ********/
@media (width >= 1440px) {
  .header {
    margin: 40px 100px;
    margin-bottom: 0;
  }

  nav {
    width: 300px;

    & a {
      font-size: 24px;
      text-transform: none;
    }
  }
}
